

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">IDGS901</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse"
    aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span> 

    </button>
    <div id="my-nav" class="collapse navbar-collapse">
       <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="DatosComponent">
                <!-- <fa-icon [ico]="myIcon"></fa-icon> -->
                Datos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="BandasderesistenciaComponent">Resistencia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="CinepolisComponent">Cinepolis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="PizzeriaComponent">Pizzeria</a>
        </li>
       </ul> 
    </div>

</nav>
