
<div class="container mt-4" style="background-color: #d2adda;">
    <hr>
    <h2 class="mb-4">Cálcula la Resistencia Eléctrica</h2>

    <div class="container-fluid">
        <div class="row">

            <div class="col-mb-3">
                <label for="banda1">Color de la banda 1:</label>
                <select class="form-select" id="banda1" [(ngModel)]="banda1Color">
                    <option value="negro" style="background-color: black;">Negro</option>
                    <option value="marrón" style="background-color: maroon;">Marrón</option>
                    <option value="rojo" style="background-color: red;">Rojo</option>
                    <option value="naranja" style="background-color: orange;">Naranja</option>
                    <option value="amarillo" style="background-color: gold;">Amarillo</option>
                    <option value="verde" style="background-color: green;">Verde</option>
                    <option value="azul" style="background-color: blue;">Azul</option>
                    <option value="violeta" style="background-color: violet;">Violeta</option>
                    <option value="gris" style="background-color: darkgrey;">Gris</option>
                    <option value="blanco" style="background-color: white;">Blanco</option>
                </select>
            </div>

            <div class="col-mb-3">
                <label for="banda2">Color de la banda 2:</label>
                <select class="form-select" id="banda2" [(ngModel)]="banda2Color">
                    <option value="negro" style="background-color: black;">Negro</option>
                    <option value="marrón" style="background-color: maroon;">Marrón</option>
                    <option value="rojo" style="background-color: red;">Rojo</option>
                    <option value="naranja" style="background-color: orange;">Naranja</option>
                    <option value="amarillo" style="background-color: gold;">Amarillo</option>
                    <option value="verde" style="background-color: green;">Verde</option>
                    <option value="azul" style="background-color: blue;">Azul</option>
                    <option value="violeta" style="background-color: violet;">Violeta</option>
                    <option value="gris" style="background-color: darkgrey;">Gris</option>
                    <option value="blanco" style="background-color: white;">Blanco</option>
                </select>
            </div>

            <div class="col-mb-3">
                <label for="multiplicador">Multiplicador:</label>
                <select class="form-select" id="multiplicador" [(ngModel)]="multiplicador">
                    <option value="negro" style="background-color: black;">Negro</option>
                    <option value="marrón" style="background-color: maroon;">Marrón</option>
                    <option value="rojo" style="background-color: red;">Rojo</option>
                    <option value="naranja" style="background-color: orange;">Naranja</option>
                    <option value="amarillo" style="background-color: gold;">Amarillo</option>
                    <option value="verde" style="background-color: green;">Verde</option>
                    <option value="azul" style="background-color: blue;">Azul</option>
                    <option value="violeta" style="background-color: violet;">Violeta</option>
                    <option value="gris" style="background-color: darkgrey;">Gris</option>
                    <option value="blanco" style="background-color: white;">Blanco</option>
                </select>
            </div>

            <div class="col-mb-3">
                <label for="tolerancia">Tolerancia:</label>
                <select class="form-select" id="tolerancia" [(ngModel)]="tolerancia">
                    <option value="oro" style="background-color: goldenrod;">Oro</option>
                    <option value="plata" style="background-color: silver;">Plata</option>
                </select>
            </div>
        </div>
        <br>

        <button class="btn btn-primary" (click)="calcularResistencia()">Calcular</button>
    </div>
    <hr>

    <div *ngIf="resistencia !== null" style="background-color: rgb(185, 219, 224);">
        <p>El valor de la resistencia es: {{ resistencia }} Ohms</p>
        <p>Su tolerancia es: {{toleranciaValor}}%</p>
</div>