<div class="row" style="background-color: #faf9de;">
    <h2 style="text-align: center;">Bienvenido a la pizzeria Marruecos</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="pizzaForm">
        <div class="row">
            <div class="col-4">
                <label for="nombre" class="form-label">Nombre Completo:</label>
                <input type="text" id="nombre" required formControlName="nombre" name="nombre" class="form-control">
                <div *ngIf="pizzaForm.get('nombre')?.touched && 
                            pizzaForm.get('nombre')?.errors?.['required']" class="alert alert-danger">
                    Este campo es requerido
                </div>
                <div *ngIf="pizzaForm.get('nombre')?.touched && 
                            pizzaForm.get('nombre')?.errors?.['minlength']" class="alert alert-danger">
                    El nombre debe ser más largo que {{pizzaForm.get('nombre')?.errors?.['minlength']?.requiredLength}}
                </div>
            </div>

            <div class="col-4">
                <label for="direccion" class="form-label">Direccion:</label>
                <input type="text" id="direccion" required formControlName="direccion" name="direccion"
                    class="form-control">
                <div *ngIf="pizzaForm.get('direccion')?.touched && 
                            pizzaForm.get('direccion')?.errors?.['required']" class="alert alert-danger">
                    Este campo es requerido
                </div>
                <div *ngIf="pizzaForm.get('direccion')?.touched && 
                            pizzaForm.get('direccion')?.errors?.['minlength']" class="alert alert-danger">
                    La dirección debe ser más larga que {{pizzaForm.get('direccion')?.errors?.['minlength']?.requiredLength}}
                </div>
            </div>

            <div class="col-4">
                <label for="telefono" class="form-label">Telefono:</label>
                <input type="number" id="telefono" required formControlName="telefono" name="telefono"
                    class="form-control">
                <div *ngIf="pizzaForm.get('telefono')?.touched && 
                            pizzaForm.get('telefono')?.errors?.['required']" class="alert alert-danger">
                    Este campo es requerido
                </div>
                <div *ngIf="pizzaForm.get('telefono')?.touched && 
                            pizzaForm.get('telefono')?.errors?.['minlength']" class="alert alert-danger">
                    El teléfono debe ser más largo que {{pizzaForm.get('telefono')?.errors?.['minlength']?.requiredLength}}
                </div>
            </div>
        </div>
        <br><br>
        <div class="row" style="background-color: #faf9de;">
            <div class="col-4" style="border: 2px double black;">
                <br>
                <label for="tamanio" class="form-label">Tamaño de la pizza:</label>
                <br>
                <input id="tamanio" name="tamanio" required formControlName="tamanio" type="radio" value="Chica" />
                Chica $40
                <br />
                <input id="tamanio" name="tamanio" required formControlName="tamanio" type="radio" value="Mediana" />
                Mediana $80
                <br />
                <input id="tamanio" name="tamanio" required formControlName="tamanio" type="radio" value="Grande" />
                Grande $120
            </div>

            <div class="col-4" style="border: 2px double black;">
                <label for="ingredientes" class="form-label">Ingredientes</label>
                <br />
                <input id="ingredientes" formControlName="Jamon" name="Jamon" type="checkbox" value="Jamon" />
                Jamón $10
                <br />
                <input id="ingredientes" formControlName="Pina" name="Pina" type="checkbox" value="Pina" />
                Piña $10
                <br />
                <input id="ingredientes" formControlName="Champinones" name="Champinones" type="checkbox"
                    value="Champinones" /> Champiñones $10
            </div>

            <div class="col-4" style="border: 2px double black;">
                <label for="num" class="form-label">Número de pizzas</label>
                <input type="text" id="num" name="num" required formControlName="num" class="form-control">
                <br>
                <div class="col-12" style="text-align: end;">
                    <button class="btn btn-info" type="submit">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<div class="row" style="font-size: medium;">
    <hr>
    <div class="row">
        <div class="col-6">
            <table style="border: 2px double black;" width="100%">
                <tr style="border: 2px double black;">
                    <th>Tamaño</th>
                    <th style="border: 2px double black;">Ingredientes</th>
                    <th>Num. Pizzas</th>
                    <th style="border: 2px double black;">Subtotal</th>
                </tr>
                <tr *ngFor="let pizza of registrosPizzas; let i = index">
                    <td>{{ pizza.tamanio }}</td>
                    <td>{{ pizza.ingredientes.join(', ') }}</td>
                    <td>{{ pizza.num }}</td>
                    <td>$ {{ pizza.subtotal }}</td>
                </tr>
            </table>
            <br>
            <div class="col-12">
                <button class="btn btn-danger" style="margin-left: 170px;" (click)="eliminarUltimoRegistro()">Quitar</button>
                <button class="btn btn-success" style="margin-left: 100px;" (click)="agregarSubtotal()">Terminar</button>
            </div>
        </div>

        <div class="col-6" style="background-color: #e4e2e2; text-align: center;">
            <div class="row">
                <div class="col-12">
                    <h3 style="margin: 10px;"><strong>Registros del día</strong></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table style="width: 100%; text-align: center;">
                        <tr *ngFor="let venta of subtotalVentasTerminadas">
                            <td>{{ venta.nombre }} - Total: ${{ venta.subtotal }}</td>
                        </tr>
                    </table>
                        <br>
                    <p style="text-align: center;">Total de ventas: ${{ totalVentas }}</p>
                </div>
            </div>
        </div>
    </div>
</div>